bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
**/*.user
node_modules
.husky/_
.output
.vercel
.netlify
.wrangler
.svelte-kit
build
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
!.env.test
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
**/.vitepress/dist/
**/.vitepress/cache/